<div id="fondo-act" class="fondo_activity">
	<img src="<%= @activity.photo.normal %>"><br>
	<%= @activity.name %><br>
	<br>
	<% if can?(:edit, @activity) %>
		<%= link_to 'Editar actividad', edit_activity_path(@activity.id), :class => 'btn btn-info' %>
	<% end %>

	<img src="<%= @activity.photo %>" id="lo" style="display: none">

</div>

<script>
		
		$("#fondo-act").backstretch(document.getElementById("lo").src)
		
		

</script>


